[package]
name = "infrastructure"
version = "0.1.0"
edition = "2024"

[dependencies]
workspace-hack = { path = "../../crates/workspace-hack" }

thiserror = { workspace = true }
bon = { workspace = true }
