# Wweb/Inertia Config
MODE=development
HOST=127.0.0.1
PORT=8080
VITE_ENTRY=/src/main.tsx
PASETO_SEMETRIC_KEY=thisisaverysecretpasetosymmetric
SESSION_SECRET=development-secret-key-change-in-productiondevelopment-secret-key-change-in-production22
TELNYX_API_KEY=your-telnyx-api-key
TELNYX_MESSAGING_PROFILE_ID=your-messaging-profile-id
TELNYX_API_BASE_URL=https://api.telnyx.com
TELNYX_PUBLIC_KEY=your-telnyx-public-key
TELNYX_WEBHOOK_FORWARD_URLS=

# Database Config
DATABASE_URL=postgresql://postgres:secret@127.0.0.1:5438/telnyx-web-db?sslmode=disable
