[package]
name = "application"
version = "0.1.0"
edition = "2024"

[dependencies]
workspace-hack = { version = "0.1", path = "../workspace-hack" }
infrastructure = { path = "../../crates/infrastructure" }
